/* 页头和页脚背景透明 */
#page-header {
    background: transparent !important;
}
#footer {
    background: transparent !important;
}

/* 文章页面正文背景 */
div#post {
    background: rgba(255, 255, 255, 0.9); 
}


/* 移除top-img黑色透明玻璃效果 */
#page-header:not(.not-top-img):before {
    background-color: transparent !important;
}
#card_author {
    background-color: yellow;
  }
/* 文章页H1-H6图标样式效果 */
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  -webkit-animation: ccc 1.6s linear infinite;
  animation: ccc 1.6s linear infinite;
}
@-webkit-keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
@keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
/* 阿里图标引入 */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 3em;
  /* 可以定义图标大小 */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 时间轴生肖icon */
svg.icon {
  /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
  width: 1em;
  height: 1em;
  /* width和height定义图标的默认宽度和高度*/
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
  /* 若已经在项目设置中勾选了彩色选项，则无需再定义图标颜色*/
  .icon-rat:before {
    color: #85c3de;
  }
  .icon-ox:before {
    color: #ffaf6e;
  }
  .icon-tiger:before {
    color: #f7c768;
  }
  .icon-rabbit:before {
    color: #ffbdd8;
  }
  .icon-dragon:before {
    color: #ff8787;
  }
  .icon-snake:before {
    color: #c3d686;
  }
  .icon-horse:before {
    color: #ffaf6e;
  }
  .icon-goat:before {
    color: #f7c768;
  }
  .icon-monkey:before {
    color: #c3d686;
  }
  .icon-rooster:before {
    color: #ff8787;
  }
  .icon-dog:before {
    color: #85c3de;
  }
  .icon-boar:before {
    color: #ffbdd8;
  }
