/* 页头和页脚背景透明 */
#page-header {
    background: transparent !important;
}
#footer {
    background: transparent !important;
}

/* 文章页面正文背景 */
div#post {
    background: rgba(255, 255, 255, 0.9); 
}


/* 移除top-img黑色透明玻璃效果 */
#page-header:not(.not-top-img):before {
    background-color: transparent !important;
}
#card_author {
    background-color: yellow;
  }
/* 评论输入框 */
.ValineEditor {
    border: 1px solid #af1111;
    padding: 10px;
    font-size: 16px;
  }
  
  /* 评论列表整体 */
.Valine-comment-list {
    padding: 15px;
  }
  
  /* 每条评论 */
  .Valine-comment {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
  }
  
  /* 评论者头像 */
  .Valine-comment.vimg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  /* 评论者姓名 */
  .Valine-comment.vnickname {
    font-weight: bold;
  }
  
  /* 评论内容 */
  .Valine-comment.vcontent {
    font-size: 14px;
    line-height: 1.5;
  }
  
  /* 回复按钮 */
.Valine-comment.vreplies {
    color: #d32b5b;
    cursor: pointer;
  }  